<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
			<form action="register" method="POST">
				<input type="text" placeholder="用户名" name="username"/>
				<br  />
				<input type="text" placeholder="邮件" name="email"/>
				<br />
				<input type="password" placeholder="密码" name="password"/>
				<br />
				<button type="submit">注册</button>
			</form>
  </body>
</html>

